/****Global colors*****/
/*___________________*/

$colours: (
primary: #fff,
secondary: #111111,
gray-1: #3333,
gray-2: #CCCCCC,
gray-3: #E5E5E5,
red-error: #ff5d5d,


/*GreenPoint Colors*/
GP_drkgreen: #004e29,
GP_litgreen: #33a86a,
GP_orange: #f7931e,

/*Tints*/
GP_drkgreen_1: #66957f,
GP_litgreen_1: #85cba6,
GP_orange_1: #fabe78,

GP_drkgreen_2: #ccdcd4,
GP_litgreen_2: #d6eee1,
GP_orange_2: #fde9d2,

/*Supporting colours*/

GP_blue: #0077ff,
GP_blue_1: #a3dbfe,
);

/****Global fonts****/
/*_________________*/

@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900|Nunito:400,700,700i|Open+Sans:400,700');