/********** Global Styles & Defaults ***********/

@import "colours_font.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


*,
**,
::after,
::before {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: map-get($colours, gray-3);
    font-family: 'Open sans 400', sans-serif;
    height: 100vh; //100% view height
    width: 100vw; // 100% view width
}

/*Content area style*/
/*Unavaliable page | Error message style*/

#main--box {
    position: relative;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 700px;
    border-radius: 10px;
    left: 33%;
    top: 170px;
    padding: 5px;
    height: 2000px;

    h1 {
        font-size: 34px;
        margin-left: 78px;
        color: map-get($colours, GP_orange);
    }

    p {
        margin-left: 75px;
        margin-top: -5px;
        color: map-get($colours, GP_drkgreen)
    }

    .error--icon {
        height: 120px;
        width: auto;
        margin-left: 260px;
        margin-top: 20px;
        margin-bottom: 15px;
        color: map-get($colours, red-error)
    }
}

/**** Header and footer *****/

.head--container {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: map-get($colours, primary);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.300);
    box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.300);
}

.logo--size {
    width: 130px;
    height: auto;
    padding-top: 11px;
    padding-left: 8px;
    margin-left: 100px;
}

/* Top menu */

.search--container {
    top: 10px;
}

.box {
    display: flex;
    margin: 30px auto;
    padding-left: 190px;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.search--bar-box {
    position: relative;
    background-color: map-get($colours, GP_litgreen_2);
    width: 600px;
    height: 50px;
    padding: 17px;
    border-style: none;
    align-items: center;
}

input::placeholder {
    margin-left: 10px;
    color: map-get($colours, GP_drkgreen);
    font-size: 1.00em;
}

input:hover {
    border-style: none;
    box-shadow: none;
}

.box-1 {
    position: relative;
    display: flex;
    width: 48px;
    background-color: map-get($colours, GP_litgreen);
    align-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#dropdwn-s {
    margin-left: 2px;
    margin-top: 2px;
    width: 17px;
    height: 17px;
    color: map-get($colours, primary);
}

#search--icon {
    margin-left: 10px;
    transform: rotate(90deg);
}

.box-2 {
    display: flex;
    width: 120px;
    background-color: map-get($colours, GP_litgreen);
    align-content: center;
    align-items: center;
    padding-left: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /*  font style */
    font-size: 1.05em;
    color: map-get($colours, primary);
}

/* icon menu */

#active--user-icon {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 250px;
    left: 84%;
    top: 2%;
    overflow: hidden;
}

.drp-dwn-icon {
    color: map-get($colours, GP_litgreen_1);
}

.Usr--icon {
    display: flex;
    position: relative;
    background-color: map-get($colours, GP_litgreen_2);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 16px;
    align-content: center;
    justify-content: center;
    align-items: center;

    /*border*/
    border-color: map-get($colours, GP_litgreen_1);

}

.Usr--name {
    font-size: 20px;
}

.faicon {
    height: 75px;
    width: 75px;
}

.drpdwn-usermenu {
    color: map-get($colours, GP_litgreen_1);
}


/* Navigation */

.nav--container {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: map-get($colours, primary);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
    -moz-box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
    box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
    z-index: 3;
}

#main--nav {
    display: flex;
    justify-content: space-between;

}

#map--location {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 29px;
    padding: 2px;
    left: 7%;

    p {
        font-size: 18px;
        padding-left: 15px;
    }


    .icon {
        height: 30px;
        width: 30px;
        color: map-get($colours, GP_orange);
    }
}

#notification--bell {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    left: 32%;

    .icon {
        margin-top: 12px;
        height: 28px;
        width: 28px;
        color: map-get($colours, GP_orange);
    }

    p {
        font-size: 16px;
        font-weight: 700;
        margin-left: 9px;
    }

}

#cart--item {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    padding-right: 60px;
    right: 80px;

    .icon {
        margin-top: 12px;
        height: 28px;
        width: 28px;
        color: map-get($colours, GP_orange);
    }

    p {
        font-size: 16px;
        font-weight: 700;
        margin-left: 9px;
    }
}


.bubble--item {
    display: block;
    height: 30px;
    width: 30px;
    background-color: map-get($colours, GP_orange_2);
    border: 2px solid;
    border-color: map-get($colours, GP_orange);
    border-radius: 20px;
    align-items: center;
    align-content: center;
    bottom: 20px;
}


/* Footer */
.foot--container {
    clear: both;
    position: relative;
    width: 100%;
    height: 190px;
    background-color: map-get($colours, GP_litgreen);
    bottom: 0;
    left: 0;
    margin-top: 2%;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
}


/* Links */
.footer-main ul,
.footer-main p,
.link {
    margin-top: 30px;
    list-style: none;
    color: map-get($colours, primary);

}

.link2 {
    color: map-get($colours, secondary);
}


.link:hover,
.link2:hover {
    text-decoration: none;
    color: map-get($colours, GP_orange);
}

/* footer */

.footer-main p {
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
}

.social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 56%;
    padding-left: 15px;
}


/*** HOMEPAGE ***/
#main-container {
    display: flex;
    position: relative;
    width: 1700px;
    background-color: map-get($colours, primary);
    left: 10%;    
    top: 2px;
    flex-direction: row;
}

#main-container-others{
    display: flex;
    position: relative;
    width: 1700px;
    height: 460px;
    background-color: map-get($colours, primary);
    left: 10%;
    top: 20px;
}


#adverts-more-info {
    margin-top: 0px;
    margin-right: 2px;
    height: 460px;
    width: 1300px;
    background-color: map-get($colours, GP_litgreen_2);
}

.left-newsletter{
    background-color: map-get($colours, primary);
    margin-top: 0px;
    height: 460px;
    width: 400px;
     -webkit-box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
     -moz-box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
     box-shadow: 0px 1px 5px 0px rgba(123, 123, 123, 0.300);
}

#category--title {
    display: flex;
    flex-direction: column;
    height: 90px;
    

    .category-title {
     padding: 20px;
     margin-left:50px;
    }

    .horizontal-line {
        display: block;
        width: 1700px;
        border-top: 1px solid;
        border-color: map-get($colours, gray-3);
    }

    h2{
        
       color: map-get($colours, GP_drkgreen);
       font-weight: 300;
       font-size: 2em
    }
}

#category-card-grp{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 6%;
    right: 95.5%;
    
.site-categories {
    height: 140px;
    width: 1500px;
    margin: 8px;
}
}